langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-anthropic
langchain-openai
langchain-chroma
chromadb
langchain-ollama
ollama
langchain-elasticsearch
langchain-unstructured
unstructured
PyMuPDF
spacy
python-magic
flashrank
chainlit
black
flake8
isort
